.main {
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 70px minmax(320px, 1fr) 20px minmax(320px, 1fr) 70px;
  width: 100%;
  min-height: 100vh;  
}

.filter-icons {
  grid-column: 1;
}

.projects {
  grid-column: 2; 
}

.gap-column {
  grid-column: 3;
}

.about {
  grid-column: 4;  
}

.menu {
  grid-column: 5;
}

.active {  
  pointer-events: auto;
  user-select: auto;  
}

.inactive { 
  pointer-events: none;
  user-select: none;  
  color: $color-inactive
}

section:not(.active) > * {
  filter: blur(0.4px);
  color: grey;
  transition: all 0.5s;
}

section:not(.active) picture,
section:not(.active) img {
  transition: all 0.5s;
  filter: blur(0.5px);
  opacity: 0.5;
} 

section.active picture,
section.active img {
  transition: all 0.3s;
}    

section.active > * {
  transition: all 0.3s;
}

section:focus {
  outline: none;
}