 .menu {
    position: relative;
    display: flex;
    width: 70px;
  
    &__container {
      position: fixed; 
      top: 0;
      right: 0; 
      width: 70px; 
      height: 100vh; 
      z-index: 1000; 
    }

    &__wrapper {
      position: absolute; 
      width: 50vw; 
      transform: translateX(calc(50vw - 70px)); 
      height: 100%; 
      right: 0; 
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: $color-background; 
      transform: translateX(calc(50vw - 70px)); 
      @extend %transition; 

      &--opened {
        transform: translateX(0); 

        .logo__title {
          opacity: 1;
          @extend %transition;
        }
      }
    }
  

  &__switch-wrapper {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
  }

  &__hamburger-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__switch-language {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 30px;
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
