.pages-wrapper {
  display: flex;
  flex-direction: column;  
  
  height: 100vh; 
  overflow-y: auto;   
  scrollbar-width: none;      
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
    display: none;      
  }
}

.pages {

  &__header {    
    height: 100vh;

    &--about {
      padding-top: 35px;    
      margin-bottom: 56px; 
    }    
  }

  &__description,
  &__title,
  &__scroll {
    margin: 0;
  }

  &__title-wrapper {
    display: flex;
    height: calc(100vh - 49vh - 70px);
    padding-top: 49vh;
    justify-content: center;

    &--about {
      flex-direction: column;
      height: calc(100vh - 49vh - 35px);
      padding-top: 41vh;    
      align-items: center;   
      justify-content: space-between;  
    }  
    
    &--articles {     
      height: calc(100vh - 49vh - 40px);
    }   
  }
  
  &__scroll {    
    @include font($size: 1.2rem, $height: 1.5rem);  
    text-transform: uppercase;
  }  
}