.projects {
  display: flex;
  flex-direction: column;
  padding-top: 10px; 

  height: 100vh; 
  overflow-y: auto; 
  scrollbar-width: none;      
  -ms-overflow-style: none;  
}

.projects::-webkit-scrollbar {
  display: none;               
}

.projects__selection {
  @include font($size: 1.2rem, $height: 1.5rem);
  text-transform: uppercase;
  width: 141px;
  box-sizing: border-box;
  padding: 7.5px 28px 7.5px 20px;
  border: none;
  background-color: transparent;
  background-color: $color-light;
  border-radius: 20px;
  align-self: center;
  cursor: pointer; 
  color:$color-active;
  background-image: url(../img/icon/triangle-down.svg);
  background-position: right 13px center ;
  background-repeat: no-repeat;  
}

.projects__panel {    
  position: absolute;
  top: 0;
  left: 70px;
  background-color: $color-background;
  padding: 30px 10px 20px 0;
  max-width: 880px;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  @extend %transition;

  &--opened{
    transform: translateY(0);
  }
}

.projects__list {  
  display: flex;
  flex-direction: column;    
}

.projects__item:not(:hover) .projects__image {
  display: none;
}

.projects__link {  
  display: flex;
  text-transform: uppercase;  
  text-decoration: none;
  color: $color-inactive;
  padding-bottom: 10px;   
  cursor: pointer;

  &:hover,
  &.active-link { 
    color: $color-active;  
  
    .projects__quantity {
      padding-left: 18px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 1px;
        bottom: 9px;
        width: 13px;
        height: 1px;
        background-color: $color-active;
      }
    }    
  }
}

.projects__name {
  margin: 0;
  max-width: 445px;
  width: 100%;
}

.projects__image {
  position: absolute;
  top: 167px;
  left: 788px;
  display: block;  
  height: auto;
  object-fit: cover; 
}

.projects-single {
  margin-top: 4px;
}

.projects-card__list {
  display: flex;
  flex-direction: column;
}
