.cards-single {
  margin-bottom: 500px;
}

.cards-single__image-wrapper {
  margin-bottom: 10px;
}

.cards-single__image {
  display: block;
}

.cards-single__wrapper {
  display: flex;
  justify-content: space-between;
}

.cards-single__tags {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cards-single__description-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  max-width: 431px;
  width: 100%;
}

.cards-single__description-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cards-single__description,
.cards-list__description {
  @include font($size: 1.2rem, $height: 1.5rem, $weight: 500);
  text-transform: uppercase;
  margin: 0;
}

.cards-single__title {
  margin: 0;
}