.card__image-wrapper {
  display: flex;
}

.card__image {
  display: block;  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__wrapper {
  display: flex;             
} 

.card__tags {    
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 51%;    
}

.card__location {
  display: flex; 
}

.card__time {
  display: flex;
}

.card__description {
  @include font($size: 1.2rem, $height: 1.5rem, $weight: 500);
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}

.card__title {
  margin: 0;
  white-space: nowrap;
}

.card {    
  &--single {
    .card__item {
      margin-bottom: 500px;
    }

    .card__image-wrapper {
      margin-bottom: 10px;
    }

    .card__wrapper {      
      justify-content: space-between;            
    } 

    .card__location {      
      flex-direction: column;
      width: 15vw;
    }

    .card__time {
      text-align: end;
    }

    .card__title {
      &--list {
        display: none;
      }
    } 

    .card__description {
      margin-bottom: 5px;
    }

    .card__description {
      &--list {
        display: none;
      }
    }
  }

  &--list {
    .card__item {
      display: flex; 
      margin-bottom: 40px;           
    }

    .card__image-wrapper {
      width: 205px;
      height: auto;
      overflow: hidden;
    }

    .card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;      
    }    

    .card__tags {
      display: none;
    }

    .card__location {    
      margin: 0;
      width: 12.8vw;           
      padding-left: 20px;  
      box-sizing: border-box;
    }  

    .card__title {
      &--single {
        display: none;
      }
    }

    .card__description {
      &--single {
        display: none;
      }
    }

    .card__time {      
      flex-direction: column;
    }      

    .card__description span {
      display: block;
    }

    .card__title {
      @include font($size: inherit, $height: inherit, $weight: 500);
      margin: 0 0 10px 0;
    }
  }
}
