
.logo {
  display: flex;

  &__icon {
    padding: 20px 0;
    padding-left: 10px;
    width: 30px;
    background-image: url(../img/icon/logo.svg);
    background-repeat: no-repeat;
    background-position: left 0 center;    
  }

  &__title {
    padding: 10px 0;
    padding-left: 126px;
    background-image: url(../img/icon/aquamarine.svg);
    background-repeat: no-repeat;
    background-position: left 0 center;
    opacity: 0;
  }
}