.social {
  gap: 30px;
  margin-bottom: 7px;
}

.social__link {
  @include font($size: 1.2rem, $height: 1.5rem, $weight: 500);
  text-transform: uppercase;
  text-decoration: none;
  color: $color-active;
}