.page {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;  
}
  
.page__body {
  @extend %font;
  @include font($size: 1.5rem, $height: 2rem);
  color: $color-active;
  background-color: $color-background;
  margin: 0;  
  overflow-x: hidden;     
}

.page__wrapper {
  margin: 0 auto;
  max-width: $content-width;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;  
}

h3 {
  @include font($size: 1.5rem, $height: 2rem, $weight: 700);
}

.visually-hidden {
  @include visually-hidden(); 
}
  
.reset-list {
  @include reset-list(); 
}
