$color-background: #f2f6fa;
$color-active: #2c4259;
$color-text-inactive: #cfd6df;
$color-inactive: #a9b0ba;
$color-tags: #e3e9f1;
$color-light: #f5faff;
$color-button: #546679;

$content-width: 1920px;
$desktop-width: 1440px;
$desktop-medium-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 834px;
$mobile-medium-width: 540px;
$mobile-width: 394px;